[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
factory-boy = "*"
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"

[packages]
django = "~=3.0"
django-environ = "*"
django-filter = "*"
djangorestframework = "*"
drf-yasg2 = "*"
psycopg2-binary = "*"
django-astrosat-core = {editable = true,path = "./.."}

[requires]
python_version = "3.7"
