[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"
factory-boy = "*"
django-debug-toolbar = "*"

[packages]
django = "~=2.2"
django-environ = "*"
djangorestframework = "*"
drf-yasg = "*"
django-astrosat-core = {editable = true,path = "./.."}
psycopg2-binary = "*"

[requires]
python_version = "3.7"
